
<section data-upload-sync-target="transcript" data-controller="transcript-clip" class="position-relative">
<%= form_with model: Clip.new, html: { data: { transcript_clip_target: "toolbar" }, style: "top: var(--top); left: var(--left);", class: "position-absolute d-none z-1" } do |f| %>
  <%= f.hidden_field :start_segment_id, data: { transcript_clip_target: "segmentStartInput" } %>
  <%= f.hidden_field :end_segment_id, data: { transcript_clip_target: "segmentEndInput" } %>
  <%= f.button "✂ Clip", class: "btn btn-sm btn-primary" %>
<% end %>

<% start_of_section = true %>
<% upload.transcript.segments.each do |segment| %>
  <%= content_tag :a,
                  "[#{Time.at(segment.range.first).utc.strftime("%H:%M:%S")}]",
                  id: dom_id(segment),
                  href: "##{dom_id(segment)}",
                  data: { action: "upload-sync#scrubTo", starts: segment.range.first, ends: segment.range.last },
                  class: "user-select-none text-reset link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" if start_of_section -%>
  <%= content_tag :span, segment.text,
                  data: { bs_toggle: "popover", bs_title: "Test", segment_id: segment.to_param, starts: segment.range.first, ends: segment.range.last },
                  id: dom_id(segment),
                  class: "transcript-segment #{'bg-primary' if segment.clips.any?}" -%>
  <% if segment.breaks? %>
    <% start_of_section = true %>
    <br /><br />
  <% else %>
    <% start_of_section = false %>
  <% end %>
<% end %>
</section>