
<section data-upload-sync-target="transcript" data-controller="clip" class="position-relative">
<%= form_with model: Clip.new, html: { style: "top:1rem;", class: "sticky-top alert alert-info d-flex justify-content-between align-items-center z-1" } do |f| %>
  <%= f.hidden_field :transcript_id, value: upload.transcript.to_param %>
  <%= f.hidden_field :starts, data: { clip_target: "rangeStartsInput" } %>
  <%= f.hidden_field :ends, data: { clip_target: "rangeEndsInput" } %>
  <div data-clip-target="message">[Select some text to clip]</div>
  <%= f.button "✂ Clip", class: "btn btn-sm btn-primary", data: { clip_target: "button" } %>
<% end %>

<% start_of_section = true %>
<% upload.transcript.segments.each do |segment| %>
  <div class="transcript-segment" id="#t=<%= segment.range.first.round %>s" data-starts="<%= segment.range.first %>" data-ends="<%= segment.range.last %>">
    <%= content_tag :a,
                    "[#{describe_play_time(segment.range.first)}]",
                    id: dom_id(segment, :start),
                    data: { action: "upload-sync#scrubTo", starts: segment.range.first, ends: segment.range.last },
                    class: "user-select-none text-reset link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" if start_of_section -%>
    <%= content_tag :span, segment.text,
                    class: ('bg-primary' if @upload.transcript.clips.any? { |clip| clip.range.overlap?(segment.range)}) %>
  </div>
  <% if segment.breaks? %>
    <% start_of_section = true %>
    <br /><br />
  <% else %>
    <% start_of_section = false %>
  <% end %>
<% end %>
</section>