
<section data-upload-sync-target="transcript" data-controller="transcript-clip" class="position-relative">
<%= form_with model: Clip.new, html: { data: { transcript_clip_target: "toolbar" }, style: "top: var(--top); left: var(--left);", class: "position-absolute d-none" } do |f| %>
  <%= f.hidden_field :start_segment_id, data: { transcript_clip_target: "segmentStartInput" } %>
  <%= f.hidden_field :end_segment_id, data: { transcript_clip_target: "segmentEndInput" } %>
  <%= f.button "✂ Clip", class: "btn btn-sm btn-primary" %>
<% end %>

<% upload.transcript.segments.each do |segment| %>
  <%= content_tag :a, segment.text,
                  data: { segment_id: segment.to_param, starts: segment.range.first, ends: segment.range.last },
                  id: dom_id(segment),
                  href: "##{dom_id(segment)}",
                  title: Time.at(segment.range.first).utc.strftime("%H:%M:%S"),
                  class: "transcript-segment text-reset link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover" %>
  <% if segment.text.ends_with?(".") || segment.text.ends_with?("?") %><br /><br /><% end %>
<% end %>
</section>