<% provide(:title, "Edit #{@upload.name}") %>

<div class="container my-5">
  <%= link_to "↰ '#{@upload.name}'", @upload, class: "mb-3 d-block" %>

  <%= form_with(model: @upload) do |form| %>
    <legend class="h1">Editing '<%= @upload.name %>'</legend>

    <div class="my-2">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control #{'is-invalid' if @upload.errors[:file].any?}" %>
      <% if @upload.errors[:name].any? %>
        <div class="invalid-feedback d-block">Name <%= @upload.errors[:name].to_sentence %></div>
      <% end %>
    </div>

    <div class="row mt-5 align-items-center justify-content-between">
      <div class="col-auto">
        <%= link_to "Back to '#{@upload.name}'", @upload %>
      </div>
      <div class="col-auto">
        <%= form.submit "Update", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
