<% provide(:title, "Uploads") %>
<div class="container my-5">
   <div class="row mb-3">
    <div class="col">
      <h1 class="h2">Uploads<h1>
    </div>

    <div class="col-auto">
      <%= link_to "New Upload", new_upload_path, class: "btn btn-primary" %>
    </div>
  </div>

  <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control form-control-lg mb-5" %>


  <% @uploads.each do |upload| %>
    <%= turbo_stream_from upload %>
    <div class="row align-items-center position-relative mb-4 <%= 'opacity-50' unless upload.processed? %>">
        <div class="col-auto">
          <%= image_tag upload.file.preview(resize_to_fit: [128, 100]), class: "rounded" %>
        </div>

        <div class="col lh-sm">
          <h1 class="h5 mb-1"><%= upload.name %></h1>
          <small class="text-muted">
            Created at
            <%= time_tag upload.created_at, localize(upload.created_at, format: :long) %>
          </small>
          <% if upload.audio.analyzed? %>
          <br /><small class="text-muted">
            Duration:
            <%= Time.at(upload.audio.metadata["duration"]).utc.strftime("%H:%M:%S") %>
          </small>
          <% end %>
          <% if !upload.processed? && upload.processing_started_at %>
            <br /><small class="text-muted">Processing started at
                          <%= time_tag upload.processing_started_at, localize(upload.created_at, format: :long) %>
            </small>
          <% elsif !upload.processed? %>
            <br /><small class="text-muted">Processing starting...</small>
          <% end %>
        </div>

        <% if upload.processed? %>
          <div class="col-auto">
            <%= link_to "View", upload, class: "stretched-link" %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>

