<% provide(:title, "Upload a new video or audio file") %>

<div class="container my-5">
  <%= link_to "↰ All uploads", uploads_path, class: "mb-3 d-block" %>

  <%= form_with(model: @upload, html: { class: "dropzone" }) do |form| %>
    <legend class="h1">Upload a new video or audio file</legend>

    <div class="my-2">
      <%= form.label :file, class: "form-label" %>
      <%= form.file_field :file, direct_upload: true,
                                 class: "sr-only form-control #{'is-invalid' if @upload.errors[:file].any?}" %>
      <% if @upload.errors[:file].any? %>
        <div class="invalid-feedback d-block">File <%= @upload.errors[:file].to_sentence %></div>
      <% end %>
    </div>

    <div class="my-2">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control #{'is-invalid' if @upload.errors[:file].any?}" %>
      <% if @upload.errors[:name].any? %>
        <div class="invalid-feedback d-block">Name <%= @upload.errors[:name].to_sentence %></div>
      <% end %>
    </div>

    <div class="row mt-5 align-items-center justify-content-between">
      <div class="col-auto">
        <%= link_to "Cancel upload", uploads_path %>
      </div>
      <div class="col-auto">
        <%= form.submit "Start upload", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
