<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} on " : "" %>Clippy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>

    <%= content_for(:head) %>
  </head>

  <body class="min-vh-100">
    <% if flash[:alert] || flash[:notice] %>
      <div class="container mt-5 mb-3">
        <div class="alert alert-info" role="alert"><%= flash[:alert] || flash[:notice] %></div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
